@import url(css/global.css);


header{
    width: 100vw;
    height: 160px;
}

.container{
    padding: 20px 40px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

.house-filter{
    display: flex;
    width: 430px;
    height: 50px;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    padding: 5px 20px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.house-filter button:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
}

.house-filter:hover{
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 500ms;
}

.logo{
    height: 30px;
    object-fit: cover;
}

.icon-search{
    background: var(--secondary-color);
    color: #fff;
    padding: 6px;
    border-radius: 50%;
}

.icon-search:hover{
    background: #ad1649;
    transition: 500ms;
}

.user-field{
    display: flex;
    justify-content: space-around;
    width: 370px;
    height: 50px;
}

.user-field button{
    padding: 0 10px;
    font-size: 1em;
}

.user-field .asc-config:hover{
    background: var(--hover-color);
    transition: 500ms;
    border-radius: 50px;
}

.user{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 50px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.user:hover{
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    transition: 500ms;
}

.user span{
    padding: 5px;
}

.separator{
    width: 100vw;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.068);
}

.container-header-bottom{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-filter{
    position: relative;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
}

.filter{
    flex: 0 0 auto;
    min-width: 150px;
    scroll-snap-align: start;
}

.filter-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.filter-button:hover span{
    color: #000;
}

.text-icon{
    white-space: nowrap;
}

.icon, .text-icon{
    color: #929191;
}

.filter-btn-container{
    width: 5%;
}

.filter-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.233);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
}

.filter-icon{
    margin-right: 5px;
    font-size: 20px;
}

.scroll-button {
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    position: fixed;
    z-index: 2;
    border: 1px solid #000;
  }

  .scroll-button:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .scroll-button-left {
    left: 50px;
  }

  .scroll-button-right {
    right: 150px;
  }